        <div class="mobile-fixed-contact d-block d-lg-none">
            <a href="tel:+61 8 444 333 222"><img src="assets/img/ico-phone-white.svg"/> Call Us</a>
            <a href="mailto:info@amsdebt.com.au"><img src="assets/img/ico-envelope-white.svg"/> Email</a>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col text-center logo">
                        <img src="./assets/img/logo-footer.svg" height="85" class="logo" alt="Page Logo">
                    </div>
                </div>
                <div class="row cols">
                    <div class="col-lg-4">
                        <div class="heading">Address</div>
                        <div class="content d-flex second-flex-1">
                            <img class="d-none d-lg-block" src="./assets/img/marker-light.svg" height="24" alt="marker icon light"/>
                            <div class="pl-10">
                                <img class="d-block d-lg-none text-lg mb20 center" src="./assets/img/marker-light.svg" height="24" alt="marker icon light"/>
                                5 Burwood Highway, Subiaco, <br/>
                                WA 6000, Australia
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="heading">Contact</div>
                        <div class="content contact">
                            <a href="tel:+61 8 444 333 222"><i class="fas fa-phone mr10 text-color-green"></i>+61 8 444 333 222</a>
                            <a href="mailto:info@amsdebt.com.au"><i class="fas fa-envelope mr10 text-color-green"></i>info@amsdebt.com.au</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="heading">Social</div>
                        <div class="content social">
                            <a href="#" target="_blank"><img src="./assets/img/facebook-square.svg" alt="facebook icon"></a>
                            <a href="#" target="_blank"><img src="./assets/img/twitter-square.svg" alt="twitter icon"></a>
                            <a href="#" target="_blank"><img src="./assets/img/instagram.svg" alt="instagram icon"></a>
                            <a href="#" target="_blank"><img src="./assets/img/youtube-square-brands.svg" alt="youtube icon"></a>                            
                        </div>
                    </div>
                </div>
                <div class="row menu">
                    <div class="col text-center">
                        <a href="/">Disclaimer</a>
                        <a href="/">Mortgage Reduction</a>
                        <a href="/">Privacy Policy</a>
                        <a href="/">Sitemap</a>
                    </div>
                </div>
            </div>
            <div class="development" style="display:none">
                <a href="https://www.webz.net.au" target="_blank" title="Website Design Melbourne">Website Design Melbourne</a>
            </div>
        </footer>

        
        <!--Scripts-->        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
        
        <script src="./assets/js/script.js"></script>
    </body>
</html>
