/* RADIUSES */
$radiuses: (
    '5': '5px !important',
    '10': '10px  !important',
    '15': '15px  !important',
    '20': '20px  !important',
    '50p': '50% !important'
);
@each $radius, $value in $radiuses{
    .radius-#{$radius}{
        border-radius: #{$value};
    }
}

/* TEXT SIZES */
$text-sizes: (
    'xs': '0.75rem',
    'sm': '0.875rem',
    'md': '1rem',
    'lg': '1.125rem',
    'xl': '1.25rem'
);
@each $size, $value in $text-sizes{
    .text-#{$size}{
        font-size: #{$value};
    }
} 

/* BACKGROUND & BORDER COLORS */
$bgcolors: (
    'red': '#A51818', 
    'green': '#0C5E1D', 
    'blue': '#0000FF', 
    'yellow': '#FFFF00', 
    'black': '#000', 
    'orange': '#FF5D00',
    'none': 'transparent',
    'white': '#fff',
/*    'grey': $color-grey,
    'light-grey': $color-grey--light,
    'light-grey2': lighten($color-grey, 40)*/
);
@each $color, $hex in $bgcolors{
    .bg-#{$color}{
        background-color: #{$hex};
    }
    
    .border-#{$color}{
        border-color: #{$hex};
    }
}

/* BORDERS */
$border-sizes: 1 2 3 4 5;
@each $size in $border-sizes{
    .border-#{$size}{
        border-width: #{$size}px;
        border-style: solid;
    }
}


/* MARGINS */
$margins: '05' 10 15 20 25 30 35 40 45 50 80;
@each $margin in $margins{    
        
    @media only screen and (max-width: 991px){
        .mt-md#{$margin}{
            margin-top: #{$margin}px;
        }
        .mt-md-#{$margin}{
            margin-top: -#{$margin}px;
        }
        .mb-md#{$margin}{
            margin-bottom: #{$margin}px;
        }
        .mb-mb-#{$margin}{
            margin-bottom: -#{$margin}px;
        }
        .ml-md#{$margin}{
            margin-left: #{$margin}px;
        }
        .ml-md-#{$margin}{
            margin-left: -#{$margin}px;
        }
        .mr-md#{$margin}{
            margin-right: #{$margin}px;
        }
        .mr-md-#{$margin}{
            margin-right: -#{$margin}px;
        } 
    }
    
    @media only screen and (min-width: 992px){
        .mt-lg#{$margin}{
            margin-top: #{$margin}px;
        }
        .mt-lg-#{$margin}{
            margin-top: -#{$margin}px;
        }
        .mb-lg#{$margin}{
            margin-bottom: #{$margin}px;
        }
        .mb-mb-#{$margin}{
            margin-bottom: -#{$margin}px;
        }
        .ml-lg#{$margin}{
            margin-left: #{$margin}px;
        }
        .ml-lg-#{$margin}{
            margin-left: -#{$margin}px;
        }
        .mr-lg#{$margin}{
            margin-right: #{$margin}px;
        }
        .mr-lg-#{$margin}{
            margin-right: -#{$margin}px;
        } 
    }
    
    .mt#{$margin}{
        margin-top: #{$margin}px;
    }
    .mt-#{$margin}{
        margin-top: -#{$margin}px;
    }
    .mb#{$margin}{
        margin-bottom: #{$margin}px;
    }
    .mb-#{$margin}{
        margin-bottom: -#{$margin}px;
    }
    .ml#{$margin}{
        margin-left: #{$margin}px;
    }
    .ml-#{$margin}{
        margin-left: -#{$margin}px;
    }
    .mr#{$margin}{
        margin-right: #{$margin}px;
    }
    .mr-#{$margin}{
        margin-right: -#{$margin}px;
    }
}

/* PADDINGS */
$paddings: 1 2 3 4 5 10 15 20 25 30 35 40 45 50 75 100;
@each $padding in $paddings{
    .pl-#{$padding}{
        padding-left: #{$padding}px;
    }
    .pr-#{$padding}{
        padding-right: #{$padding}px;
    }
    .pt-#{$padding}{
        padding-top: #{$padding}px;
    }
    .pb-#{$padding}{
        padding-bottom: #{$padding}px;
    }
    /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
    .pg-#{$padding}{
        padding: #{$padding}px;
    }
    
    @media only screen and (max-width: 991px){
        .pl-md-#{$padding}{
            padding-left: #{$padding}px;
        }
        .pr-md-#{$padding}{
            padding-right: #{$padding}px;
        }
        .pt-md-#{$padding}{
            padding-top: #{$padding}px;
        }
        .pb-md-#{$padding}{
            padding-bottom: #{$padding}px;
        }
        /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
        .pg-md-#{$padding}{
            padding: #{$padding}px;
        }
    }
    
    @media only screen and (min-width: 992px){
        .pl-lg-#{$padding}{
            padding-left: #{$padding}px;
        }
        .pr-lg-#{$padding}{
            padding-right: #{$padding}px;
        }
        .pt-lg-#{$padding}{
            padding-top: #{$padding}px;
        }
        .pb-lg-#{$padding}{
            padding-bottom: #{$padding}px;
        }
        /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
        .pg-lg-#{$padding}{
            padding: #{$padding}px;
        }
    }
    
}

/* WIDTHS & HEIGHTS */
$widths: 10 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200;
@each $width in $widths{
    .width-#{$width}{
        width: #{$width}px
    }
    .height-#{$width}{
        height: #{$width}px
    }
}


/* SQUARES */
$square-widths: 5 10 15 20 25 30 35 40 45 50;
@each $width in $square-widths{
    .square-#{$width}{
        width: #{$width}px;
        height: #{$width}px;
    }
}

.word-break-all{
    word-break: break-all;
}

.padding-left10{
    padding-left: 0.625rem;
}
.padding-left20{
    padding-left: 1.25rem;
}


.padding-right10{
    padding-right: 0.625rem;
}

@mixin paddingSide($px){
    padding-left: $px;
    padding-right: $px;
}

.padding-side10{
    @include paddingSide(10); 
}
 
.height-100p{
    height: 100%;
}

.width-100p{
    width: 100%;
}

.flex-vertical-center{
    align-items: center;
}

.flex-horizontal-center{
    justify-content: center;
}

.flex-horizontal-right{
    justify-content: flex-end;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-justify-space-between{
    display: flex;
    justify-content: space-between;
}

.second-flex-1{
    > div:nth-child(2){
        flex: 1;
    }
}

.last-flex-1{
    > div:last-child{
        flex: 1;
    }
}

.bold{
    font-weight: bold;
}

.container{
    
    &.col-to-left-lg, &.col-to-right-lg{                    
        .row > div{
            background-size: cover;
        }
        
        .image-col{
            min-height: 300px;
        }
    }
    
    @media only screen and (min-width: 992px){
        &.col-to-left-lg{
            max-width: 100vw;
            width: auto;
            margin-left: 0%;
            margin-right: 10%;
        }

        &.col-to-right-lg{
            max-width: 100vw;
            width: auto;
            margin-left: 10%;
            margin-right: 0;            
        }
    }
}