{% include "partials/header.html" %}
<section class="welcome" style="background-image: url(assets/img/bg-1.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-10 offset-lg-2 offset-sm-1 welcome-box text-center">
                <h1>Pay off your mortgage in 9-14 years or less.</h1>
                <p class="mt50 mb50 text-lg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
                <a class="btn btn-primary btn-lg">See If I Qualify</a>
            </div>
        </div>
    </div>
</section>

<section class="wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <img src="./assets/img/logo-only-image.svg" height="75"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <h2 class="mt20">Purpose</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center text-lg mt20">
                Looking to buy your first home and stressed about the amount and timeframe of a home loan? With our Personalised Strategy you’ll have paid your home off before your parents!
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center mt30">
                Helping Australians achieve home ownership faster without effecting lifestyle with a personalised strategy<br/>
                Design a personalised strategy to pay your mortgage off in under 15 years without changing your life style<br/>
                <br/>
                AMS provides a Personalised Debt and Budgeting Strategy that allows you to <br/>
                Pay down personal debt <br/>
                Save for a home loan<br/>
                Helps you to pay off your home loan much quicker – and plans for the lifestyle you want. (13 yrs and $180k)
                
                <br/><a href="#" class="btn btn-primary mt30">Let's Get Started</a>
            </div>
        </div>
    </div>
</section>

<section class="gray wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <h2>Success Stories</h2>
            </div>
        </div>
        <div class="row movie-stories">
            <div class="col-lg-6 story">
                <div class="thumb" style="background-image: url('./assets/img/shutterstock_643275049.jpg')"><img src="./assets/img/player-play.svg" class="play"/></div>                
                <div class="desc">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
            </div>
            <div class="col-lg-6 story">
                <div class="thumb" style="background-image: url('./assets/img/shutterstock_693112105.jpg')"><img src="./assets/img/player-play.svg" class="play"/></div>                
                <div class="desc">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
            </div>
        </div>
    </div>
</section>

<section class="dark-bg dark-overlay bg-cover wow fadeInUp" style="background-image: url(./assets/img/bg-form.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <h2>See If I Qualify</h2>
            </div>
        </div>
        <div class="row contact-form">
            <div class="col-lg-8 offset-lg-2 mt20 mt-lg50">
                <div class="row">
                    <div class="col-lg-6">
                        <label class="form-group has-float-label">
                            <input class="form-control" type="email" placeholder="Full Name"/>
                            <span>Full Name</span>
                        </label>                        
                        <label class="form-group has-float-label">
                            <input class="form-control" type="email" placeholder="Phone"/>
                            <span>Phone</span>
                        </label>
                        <label class="form-group has-float-label">
                            <input class="form-control" type="email" placeholder="Total Monthly Debt Amount"/>
                            <span>Total Monthly Debt Amount</span>
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <label class="form-group has-float-label">
                            <input class="form-control" type="email" placeholder="Email"/>
                            <span>Email</span>
                        </label>  
                        <label class="form-group has-float-label">
                            <input class="form-control" type="email" placeholder="Total Monthly Income"/>
                            <span>Total Monthly Income</span>
                        </label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="want-promotional-emails">
                            <label class="form-check-label" for="want-promotional-emails">
                                I want to receive promotional emails
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button class="btn btn-secondary mt30">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <h2 class="mt20">Peace of Mind</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center text-lg mt20">
                Looking to buy your first home and stressed about the amount and timeframe of a home loan? With our Personalised Strategy you’ll have paid your home off before your parents!
                <br/><br/>
                <i>“we don’t have to worry about money anymore”<br/>
                    “Its taken the stress out of our relationship”<br/>
                    “ for the first time in our lives we feel we know where we are going”<br/>
                    “managing money has become simple”
                </i>
            </div>
        </div>
        <div class="row">
            <div class="col text-center mt10">
                <br/><a href="#" class="btn btn-primary mt30">Let's Get Started</a>
            </div>
        </div>
    </div>
</section>
{% include "partials/footer.html" %}
