{% include "partials/header.html" %}
<section class="welcome" style="background-image: url('./assets/img/bg-2.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-10 offset-lg-2 offset-sm-1 welcome-box text-center">
                <h1>Clients who already made their life easier.</h1>
                <p class="mt50 mb50 text-lg">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
                <a class="btn btn-primary btn-lg">See If I Qualify</a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="./assets/img/client-1.png" class="img-fluid circle"/>
            </div>
            <div class="col-lg-8">
                <h2>Josh & Michelle</h2>
                <p class="text-lg mt20">
                    Keystart – couple $45K & $50K Total house & land $450K<br/>
                    Car loan $12K<br/>
                    C/cd $2K<br/>
                    First Home Owner’s Grant $10K assumed<br/>
                </p>
                <table class="mt20">
                    <tr><td>Purchase Price</td><td>$450,000</td></tr>
                    <tr><td>Settlement Agent & Land transfer</td><td>+$1,500</td></tr>
                    <tr><td>1% Genuine deposit</td><td>-$4,500</td></tr>
                    <tr><td>FHOG</td><td>-$10,000</td></tr>
                    <tr class="bg-primary"><td><strong>TOTAL LOAN</strong></td><td>$437,000     @5.31% over 30yrs no LMI added</td></tr>
                    <tr>
                        <td colspan="2">
                            Sc1A = 15y 7m<br/>
                            Sc1B = 20y 4m
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

<section class="gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="./assets/img/client-3.png" class="img-fluid circle"/>
            </div>
            <div class="col-lg-8">
                <h2>The Griffiths Family</h2>
                <p class="text-lg mt20">
                    Keystart – couple $45K & $50K Total house & land $450K<br/>
                    Car loan $12K<br/>
                    C/cd $2K<br/>
                    First Home Owner’s Grant $10K assumed<br/>
                </p>
                <table class="mt20">
                    <tr><td>Purchase Price</td><td>$450,000</td></tr>
                    <tr><td>Settlement Agent & Land transfer</td><td>+$1,500</td></tr>
                    <tr><td>1% Genuine deposit</td><td>-$4,500</td></tr>
                    <tr><td>FHOG</td><td>-$10,000</td></tr>
                    <tr class="bg-primary"><td><strong>TOTAL LOAN</strong></td><td>$437,000     @5.31% over 30yrs no LMI added</td></tr>
                    <tr>
                        <td colspan="2">
                            Sc1A = 15y 7m<br/>
                            Sc1B = 20y 4m
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="./assets/img/client-4.png" class="img-fluid circle"/>
            </div>
            <div class="col-lg-8">
                <h2>Jason</h2>
                <p class="text-lg mt20">
                    Keystart – couple $45K & $50K Total house & land $450K<br/>
                    Car loan $12K<br/>
                    C/cd $2K<br/>
                    First Home Owner’s Grant $10K assumed<br/>
                </p>
                <table class="mt20">
                    <tr><td>Purchase Price</td><td>$450,000</td></tr>
                    <tr><td>Settlement Agent & Land transfer</td><td>+$1,500</td></tr>
                    <tr><td>1% Genuine deposit</td><td>-$4,500</td></tr>
                    <tr><td>FHOG</td><td>-$10,000</td></tr>
                    <tr class="bg-primary"><td><strong>TOTAL LOAN</strong></td><td>$437,000     @5.31% over 30yrs no LMI added</td></tr>
                    <tr>
                        <td colspan="2">
                            Sc1A = 15y 7m<br/>
                            Sc1B = 20y 4m
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

<section class="gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="./assets/img/client-2.png" class="img-fluid circle"/>
            </div>
            <div class="col-lg-8">
                <h2>Mathew & Kristy</h2>
                <p class="text-lg mt20">
                    Keystart – couple $45K & $50K Total house & land $450K<br/>
                    Car loan $12K<br/>
                    C/cd $2K<br/>
                    First Home Owner’s Grant $10K assumed<br/>
                </p>
                <table class="mt20">
                    <tr><td>Purchase Price</td><td>$450,000</td></tr>
                    <tr><td>Settlement Agent & Land transfer</td><td>+$1,500</td></tr>
                    <tr><td>1% Genuine deposit</td><td>-$4,500</td></tr>
                    <tr><td>FHOG</td><td>-$10,000</td></tr>
                    <tr class="bg-primary"><td><strong>TOTAL LOAN</strong></td><td>$437,000     @5.31% over 30yrs no LMI added</td></tr>
                    <tr>
                        <td colspan="2">
                            Sc1A = 15y 7m<br/>
                            Sc1B = 20y 4m
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
{% include "partials/footer.html" %}
